<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.census">

    <uses-sdk
            android:minSdkVersion="16"
            android:targetSdkVersion="25"/>

    <!-- Google maps stuff -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <!-- Minimum permissions for Snapshot -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- For BeyondAR this is not mandatory unless you want to load something from the network -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- BeyondAR needs the following features -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer"/>
    <uses-feature android:name="android.hardware.sensor.compass"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            tools:replace="android:label">
        <activity
                android:name="Main"
                android:label="Snapshot">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyBCZTJydHTa6xiMPPNE17bOs-XXU6iH42c"/>
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <activity
                android:name=".CameraWithAttachedView"
                android:label="@string/title_activity_camera_with_attached_view"
                android:parentActivityName="Main">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.beyondarMain"/>
        </activity>
        <activity
                android:name=".GoogleLocationManager"
                android:label="@string/title_activity_google_location_manager"
                android:parentActivityName=".CameraWithAttachedView">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.census.CameraWithAttachedView"/>
        </activity>
        <activity
                android:name=".GoogleMapActivity"
                android:label="@string/title_activity_google_map"/>
        <activity
                android:name=".StartGoogleMapActivity"
                android:label="@string/title_activity_start_google_map"/>
        <activity
                android:name=".SelectCharacter"
                android:label="@string/title_activity_select_character"
                android:parentActivityName="Main">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.censusMain"/>
        </activity>
        <activity
                android:name=".ChooseYourself"
                android:label="@string/title_activity_choose_yourself"
                android:parentActivityName=".SelectCharacter">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.census.SelectCharacter"/>
        </activity>
    </application>

</manifest>